body {
  width: 370px;
  min-height: 600px;
  overflow: hidden;
  background:#161616;
}
body::-webkit-scrollbar {
  display: none;
}
img {
  max-width: 100%;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}
#root::-webkit-scrollbar{
  display: none;
}

.trans-list {
  border-bottom:1px solid #f1f1f1;
}


.logo-image{
  width:140px;
  user-select: none;
}
.wallet-image{
  width:130px;
  user-select: none;
}
.auth-title {
  color:white;
  font-weight:bold;
  font-size:40px;
  margin: 0;
  user-select: none;
}

.auth-subtitle{
  user-select: none;
  margin:0;
  color:white
}

.nothing-msg {
  font-size:.9rem;
  display: block;
  text-align: center;
  color:#666;
}

.loading {
  font-size:.9rem;
  margin-top:16px;
  display: block;
  text-align: center;
  color:#666;
}
/* home style */

.slidebar{
  width: 100%;
  height: 120px;
  margin:20px 0px 0px 0px;
  padding:10px 0px;
  color:white;
}
.slide_container{
  box-sizing: border-box;
  padding:20px;
  display: flex;
  height: 90px;
  justify-content: space-between;
  border-radius: 6px;

  background:linear-gradient(#d4a0cf,#8341e0);
  box-shadow: 0px 10px 5px #120f31;
  width: 100%;
}
.slide_container h3{
  font-size:22px;
  margin:0;
}
.slide_container p{
  margin:0;
}
.slideItem{
  display: flex;
  justify-content: space-around;
  width: 200px;
  flex-direction: row;
  height:100px;
  border-radius: 6px;
}
.inactive{
  background:linear-gradient(#8d7884,#98376b);
}
.sub_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30%;
}
.main_content{
  width:70%;
  display:flex;
  flex-direction:column;
}
.main_content span{
  position:relative;
}
.main_content input{
  background:transparent;
  border:none;
  color:white;
  font-size: 17px;
  width:85%;
}
.arrowicon{
  position:absolute;
  top:4px;
  right:7px;

}
.main_content input:focus-visible{
  outline: none;
}
.main_content p{
  font-size: 17px;
  white-space: nowrap;
  overflow-x: scroll;
}
.main_content p::-webkit-scrollbar{
  display: none;
}
.sub_content p#total{
  font-size:12px;
  color:white;
  margin:0;
}
.sub_content p#totalValue{
  font-size:10px;
  color:white;
  margin:0;
}

.sub_content p#totalValue a{
  font-size:8px;
  color:#3cff00;
  margin:0;
}
.avatar{
    width: 46px;
    height: 46px;
    background-size:cover;
}
#bnb{
    /* background-image: url('../../../public/BNBbtn.png'); */
}
#sfm{
  background-repeat: no-repeat;
  background-position:5px 0;
  background-size:82%;
  /* background-image: url('../../../public/SFMbtn.png'); */
}
#mbs{
  /* background-image: url('../../../public/MBSbtn.png'); */
}
.disabled{
    opacity: 0.7;
}