body {
  background:#f5f5f5;
  width: 370px;
  height: 720px;
  overflow: hidden;
  background:#111111;
}
body::-webkit-scrollbar {
  display: none;
}
img {
  max-width: 100%;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}
#root::-webkit-scrollbar{
  display: none;
}

.trans-list {
  border-bottom:1px solid #f1f1f1;
}

.auth-logo {
  width: 240px;
  margin:0 auto;
  margin-top:15px;
}
.logo-image{
  width:140px;
  user-select: none;
}
.wallet-image{
  width:130px;
  user-select: none;
}
.auth-title {
  color:white;
  font-weight:bold;
  font-size:40px;
  margin: 0;
  user-select: none;
}
.logo-title{
  color:white;
  font-weight:bold;
  font-size:35px;
  margin: 0;
  user-select: none;
}
.auth-subtitle{
  user-select: none;
  margin:0;
  color:white
}
.nothing-msg,
.loading {
  font-size:.9rem;
  margin-top:16px;
  display: block;
  text-align: center;
  color:#666;
}
/* home style */

.slidebar{
  width: 100%;
  height: 120px;
  margin:20px 0px 0px 0px;
  padding:10px 0px;
  color:white;
}
.slide_container{
  box-sizing: border-box;
  padding:20px;
  display: flex;
  height: 90px;
  justify-content: space-between;
  border-radius: 10px;

  background:linear-gradient(#d4a0cf,#8341e0);
  box-shadow: 0px 10px 5px #120f31;
  width: 100%;
}
.slide_container h3{
  font-size:22px;
  margin:0;
}
.slide_container p{
  margin:0;
}
.slideItem{
  display: flex;
  justify-content: space-around;
  width: 200px;
  flex-direction: row;
  height:100px;
  border-radius: 10px;
}
.inactive{
  background:linear-gradient(#8d7884,#98376b);
}
.sub_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:30%;
}
.main_content{
  width:70%;
  display:flex;
  flex-direction:column;
}
.main_content span{
  position:relative;
}
.main_content input{
  background:transparent;
  border:none;
  color:white;
  font-size: 17px;
  width:85%;
}
.arrowicon{
  position:absolute;
  top:4px;
  right:7px;

}
.main_content input:focus-visible{
  outline: none;
}
.main_content p{
  font-size: 17px;
  white-space: nowrap;
  overflow-x: scroll;
}
.main_content p::-webkit-scrollbar{
  display: none;
}
.sub_content p#total{
  font-size:12px;
  color:white;
  margin:0;
}
.sub_content p#totalValue{
  font-size:10px;
  color:white;
  margin:0;
}

.sub_content p#totalValue a{
  font-size:8px;
  color:#3cff00;
  margin:0;
}
.myWallet{
    margin:10px 34px;
    z-index: 2;
    position:'relative';
}
.description{
  user-select: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    padding:10px 5px;
}
.description h3 {
  font-family: system-ui;
  color: white;
  font-weight: 300;
  font-size: x-large;
  margin: 0;
}
.description p{
    color:#36bdf0;
    cursor:pointer;
}
.avatar{
    width: 46px;
    height: 46px;
    background-size:cover;
}
#bnb{
    /* background-image: url('../../../public/BNBbtn.png'); */
}
#sfm{
  background-repeat: no-repeat;
  background-position:5px 0;
  background-size:82%;
  /* background-image: url('../../../public/SFMbtn.png'); */
}
#mbs{
  /* background-image: url('../../../public/MBSbtn.png'); */
}
.tokenImage{
  width: 20px;
}
.disabled{
    opacity: 0.7;
}

/* Swap_page_style */

.swaptitle{
  position: relative;
  margin:40px 20px;
  text-align: left;
}
.swaptitle h1{
  color:white;
  font-family: 'MontserratLight';
  font-family: unset;
    font-size: 33px;
    line-height: 31px;
    font-weight: 100;
    letter-spacing: 2px;

}
/* body style */
.swapcontent{
  width:80%;
  margin:auto;
  position:relative;
  z-index: 3;
}
.swaptoken{
  position: relative;
  z-index: 2;
  background:#222222;
  border-radius: 10px;
  box-shadow: 0px 10px 5px #000000a0;
  padding:20px;
}

.swapform{

}
.swapform .from, .to{
  border:1px solid white;
  border-radius: 13px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  height:  56px;
}
.fromtokeninfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  /* width:20%; */
  overflow:hidden;
  /* border-right:  1px solid white; */
  justify-content:  flex-end;
  /* padding-right: 15px; */
  /* height: 100%; */
}
.fromtokeninfoleft{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  text-align: left;
  /* width:20%; */
  overflow:hidden;
  justify-content:  space-evenly;
  padding-right: 15px;
  color: white;
  height: 100%;
}
.fromtokeninfo P{
  color:white;
  margin:3px;
}
.fromtokenamount {
  width:  100%;
  background: transparent;
  border: none;
  outline: none;
  color:  white;
  margin:  0 10px;
  font-size: 15px;
}
.caret-down::before{
  content: '\e809';
}
.fromtokenicon{
  margin-left:auto;
  width:46px;
  height:46px;
  background-size:cover;
  /* background-image: url('../../../public/BNBbtn.png'); */
}
.swapform .to{
  flex-direction: column;
  text-align: left;
}
.to p{
  margin:3px;
  color:white;
}
.tolerance{
  color:white;
  text-align: left;
  padding-left:10px;
  margin-top:5px;
}
 /* .exchange{
   align-items: center;
   margin: 20px auto 5px auto;
 }
.exchange button{
  color: white;
    background: transparent;
    border: none;
    font-size: 15px;
} */

.swapinfo{
  z-index: 1;
  position:relative;
  border-radius: 0px 0px 10px 10px;
  margin-top:-10px;
  background:#333333;
  padding:20px 20px 10px 20px;
  box-shadow: 0px 10px 5px #000000c2;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.swapsubinfo{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.swapsubinfo p{
  color:white;
  margin:3px 0;
}
.greennumber{
  color:#00d70a !important;
}

/* footer style */
.termofservice{
  /* position: absolute; */
  margin-top: 50px;
  bottom:10px;
  align-items: center;
  width: 100%;
}
.termofservice p{
  color:white;
}
