body {
  width: 370px;
  min-height: 600px;
  overflow: hidden;
  background:#161616;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}
#root::-webkit-scrollbar{
  display: none;
}

.loading {
  font-size:.9rem;
  margin-top:16px;
  display: block;
  text-align: center;
  color:#666;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}